@import "tailwindcss";

@theme {
  --color-rich-black: oklch(9.618% 0.0562 285.061);
  --color-russian-violet: oklch(16.872% 0.07813 292.572);
  --color-rebecca-purple: oklch(42.208% 0.17403 290.528);
  --color-periwinkle: oklch(84.868% 0.07781 284.614);
}
