@import "tailwindcss";

@theme {
  --font-japanese: var(--font-noto-serif-jp);
  --color-linen-50: oklch(0.9682 0.0137 67.66);
  --color-linen-100: oklch(0.9602 0.0171 67.62);
  --color-linen-200: oklch(0.8869 0.0157 67.62);
  --color-ochre-100: oklch(0.5843 0.1635 36.77);
  --color-ochre-200: oklch(0.5397 0.1494 37.08);
  --color-copper-100: oklch(0.4284 0.0386 71.05);
  --color-sun-100: oklch(0.8342 0.117 87.43);
}

@layer base {
  ::selection {
    background-color: color-mix(
      in oklab,
      var(--color-sun-100) 30%,
      transparent
    );
    color: inherit;
  }

  main > #hero-content:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100dvh;
    padding: clamp(1.5rem, 5vh, 4rem) clamp(1rem, 5vw, 5rem);
  }
}

@layer components {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-medium);
    width: 100%;
    border-radius: 0.375rem;
    transition: all 0.2s;

    @media (width >= 40rem) {
      width: auto;
    }
  }
}
